<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Expense Tracker
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
</head>

<body class="login-page">
    <form class="form" method="POST" action="" name="LoginForm">
        <h2>Login</h2>
        <div>

            <p id="error_message" class="error-text pull-left pb-1 mb-0">{{error}}</p>
            <input type="hidden" name="csrf_token" value="{{csrf_token}}">

            <div>
                <input type="email" class="form-control" placeholder="Email Address" id="email" name="email" required="" autofocus >
            </div>

            <div>
                <input type="password" placeholder="Password" class="form-control" id="password" name="password" required="" />
            </div>

        </div>

        <span><input type="checkbox" name="checkbox" class="bootstrap-switch" checked /><p class="small-text">Remember me</p> </span>

        <button type="submit">LOGIN</button>

    </form>
</body>

</html>