<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Expense Tracker
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
</head>

<body class="login-page">
    <form class="form" method="POST" action="" name="LoinForm">
        <h3 class="black-text">Login</h3>
        <div class="card-body pb-0">

            <p id="error_message" class="error-text pull-left pb-1 mb-0">{{error}}</p>
            <input type="hidden" name="csrf_token" value="{{csrf_token}}">

            <div class="input-group  input-lg pb-2">
                <input type="email" class="form-control" placeholder="Email Address" id="email" name="email" required="" autofocus >
            </div>

            <div class="input-group  input-lg pb-2">
                <input type="password" placeholder="Password" class="form-control" id="password" name="password" required="" />
            </div>

        </div>

        <span class=" pl-4 pull-left pb-2"><input type="checkbox" name="checkbox" class="bootstrap-switch" checked /><p class="small-text">Remember me</p> </span>


        <div class=" text-center px-5">

            <button type="submit" href="#pablo" class="btn btn-theme px-1 btn-round btn-lg btn-block">LOGIN</button>

        </div>
    </form>
</body>

</html>