<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/favicon.jpg">
    <link rel="icon" type="image/png" href="../assets/img/favicon.jpg">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Vosvende.com
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../static/css/now-ui-kit.css?v=1.2.0" rel="stylesheet" />

    <link href="../static/css/demo.css" rel="stylesheet" />
</head>

<body class="login-page">
    <div class="page-header clear-filter">
        <a> <div class="page-header-image " style="background-image:url(../static/img/login.png)"></div></a> 
        <div class="content">
            <div class="container">
                <div class="col-md-4 ml-auto mr-auto">
                    <div class="card card-login pb-0 mb-0">
                        <form class="form" method="POST" action="" name="RegForm">
                            <input type="hidden" name="csrf_token" value="{{csrf_token}}">
                            <div class="card-header text-center">
                                <div class="logo-container">
                                    <img class= 'pad-top'src="../static/img/logo.jpg" alt="">
                                </div>
                            </div>
                            <h3 class="black-text">Sign Up</h3>
                            <div class="card-body pb-0">
 
                                <p id="error_message" class="error-text pull-left pb-1 mb-0">{{errors}}</p>

                                <p id="email_message" class="error-text pull-left pb-1 mb-0">{{errors.email}}</p>
                                <div class="input-group  input-lg pb-2">
                                    <input type="email" class="form-control" placeholder="Email Address" id= "email" name="email" required="" value="{{Input.Email}}">
                                </div>

                                <p id="password_message" class="error-text pull-left pb-1 mb-0">{{errors.password}}</p>
                                <div class="input-group  input-lg pb-2">
                                    <input type="password" placeholder="Password" class="form-control" id="password" name="password"  required="" />
                                </div>

                                <p id="confirm_password_message" class="error-text pull-left pb-1 mb-0">{{errors.confirm_password}}</p>
                                <div class="input-group  input-lg pb-2">
                                    <input type="password" placeholder="Confirm Password" class="form-control" id= "confirm_password" name="confirm_password" required="" />
                                </div>

                            </div>


                            <span class=" pl-4 pull-left pb-2"><input type="checkbox" name="checkbox" class="bootstrap-switch" required /><p class="small-text">I agree to the terms and conditions</p></span>


                            <div class=" text-center px-5">

                                <button type="submit" href="#pablo" class="btn btn-theme px-1 btn-round btn-lg btn-block" id="submit">Sign Up</button>

                            </div>
                            <div class=" text-center">
                                <a href="#pablo" class="small-textdotted mb-2 pt-4">Forgot Password ? </a>

                            </div>
                            <div class=" text-center box-color py-3" >

                                <p class="small-text text-center">Already have an account? <span class="green-text"><a href="/auth/login">Login</a></span></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>

</html>